BusNew/BusTicket/UCV.UIClient/Connected Services/UCV.Reserva/ReservaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53579/ReservaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UCV.Comun.Modelos" />
  <xs:element name="GetReservas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UCV.Comun.Modelos" minOccurs="0" name="GetReservasResult" nillable="true" type="q1:ArrayOfReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservasById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservasByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UCV.Comun.Modelos" minOccurs="0" name="GetReservasByIdResult" nillable="true" type="q2:ArrayOfReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservasByIdFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservasByIdFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UCV.Comun.Modelos" minOccurs="0" name="GetReservasByIdFechaResult" nillable="true" type="q3:ArrayOfReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservaByIdFechaRuta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UCV.Comun.Modelos" minOccurs="0" name="ruta" nillable="true" type="q4:Ruta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservaByIdFechaRutaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UCV.Comun.Modelos" minOccurs="0" name="GetReservaByIdFechaRutaResult" nillable="true" type="q5:ArrayOfReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UCV.Comun.Modelos" minOccurs="0" name="reserva" nillable="true" type="q6:Reserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReservaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UCV.Comun.Modelos" minOccurs="0" name="reserva" nillable="true" type="q7:Reserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReservaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UCV.Comun.Modelos" minOccurs="0" name="reserva" nillable="true" type="q8:Reserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReservaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>